
  .boton-clear {
    width: 80%;
    height: 12vh; 
    font-size: 3vh; 
    background-color: #AC0246;
    margin-top: 2vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 0.5vh solid white; 
    border-radius: 6vh;
    cursor: pointer;
  }
  
  .boton-clear:hover {
    background-color: #ebb000;
  }
  